#map {
  height: auto;
  width: 100%;
  padding-top: 100%;
  margin-left: 12px;
}

html,
body {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  #map {
    height: 70vh;
    padding-top: 70%;
    margin-left: 12px;
  }
}

@media (min-width: 1024px) {
  #map {
    height: 80vh;
    padding-top: 80%;
  }
}
